{deps, [
        {oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git"}},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git"}},
        {kvc, ".*", {git, "https://github.com/etrepum/kvc.git"}},
        {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git"}}
]}.
